<aside class="well sidebar-rigth">
    <div class="row-fluid">
        <ul class="unstyled">
            <li class="widget">
                <span class="btn-primary widget-title">{{ 'blog.searchform.titre' | trans }}</span>
                <div class="widget-content">
                    {{ form(form) }}
                </div>
            </li>
            <li class="widget widget-last">
                <span class="btn-primary widget-title">{{ 'blog.don.titre' | trans }}</span>
                <div class="widget-content text-center">
                    <form action="https://www.paypal.com/cgi-bin/webscr" method="post">
                        <input type="hidden" name="cmd" value="_donations">
                        <input type="hidden" name="business" value="{{ webmaster_email }}">
                        <input type="hidden" name="lc" value="FR">
                        <input type="hidden" name="item_name" value="Soutenir Blog Developpement Web">
                        <input type="hidden" name="no_note" value="0">
                        <input type="hidden" name="currency_code" value="EUR">
                        <input type="hidden" name="bn" value="PP-DonationsBF:btn_donateCC_LG.gif:NonHostedGuest">
                        <input type="image" src="https://www.paypalobjects.com/fr_FR/FR/i/btn/btn_donateCC_LG.gif" border="0" name="submit" alt="PayPal - la solution de paiement en ligne la plus simple et la plus sécurisée !">
                        <img alt="" border="0" src="https://www.paypalobjects.com/fr_FR/i/scr/pixel.gif" width="1" height="1">
                    </form>
                </div>
            </li>
        </ul>
    </div>
</aside>