{% extends "AppPortfolioBundle::layout.html.twig" %}

{% trans_default_domain 'FOSUserBundle' %}

{% block title %}{{ 'resetting.password_already_requested.title' | trans }} | {{ parent() }}{% endblock %}
{% block description %}{% endblock %}
{% block keywords %}{% endblock %}

{% block header_title %}{{ 'resetting.password_already_requested.title' | trans }}{% endblock %}
{% block pubdate %}{% endblock %}

{% block body %}
<div class="main">
{% block fos_user_content %}
    <p class="alert alert-error text-center">{{ 'resetting.password_already_requested.content'|trans }}</p>
{% endblock fos_user_content %}
</div>
{% endblock %}
